{% extends 'base.html' %}

{% block content %}
    
    <h1>Debate Forum</h1>

    {% if g.user %}
        <!-- <p class="welcome-user">Welcome {{ g.user.username }}</p> -->
            
        </div>  
    {% endif %}

    {% include 'lists/topicsTable.html' %}

{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename='js/script.js')}}"></script>

<script>
    //   document.getElementById(".only-user").style.display = 'none';  
      // Display All Topics

    //   fetch("/api/all-topics", {
    //         method: "get",
    //         headers: {
    //           "Content-Type": "application/json"
    //         },
    //         // body:JSON.stringify({username, password})
    //       }).then(function(response) 
    //     {

    //       return response.json();
    //     }).then(function(response) 
    //     {
    //         // Append Topics
    //        console.log(response);
    //     })


</script>


{% endblock %}

