{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

{% if topic %}
<li>{{ topic }}</li>

<p id="demo"> This is Stuff...</p>
{% else %}
<h1>Create a New Topic</h1>
<br />
<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.topic.label(class="form-label") }}
    {{ form.topic(class="form-control") }}
    <br />
    {{ form.submit(class="btn btn-secondary") }}

</form>
{% endif %}

<script src="{{ url_for('static', filename='js/script.js')}}"></script>

{% endblock %}